{% extends 'base.html' %}

{% block content %}
<h2>Login to DriveShare</h2>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <div class="flashes">
      {% for message in messages %}
        <div class="flash-message">{{ message }}</div>
      {% endfor %}
    </div>
  {% endif %}
{% endwith %}
<form method="POST" action="{{ url_for('login') }}">
    <label for="email">Email:</label><br>
    <input type="email" id="email" name="email" required><br><br>

    <label for="password">Password:</label><br>
    <input type="password" id="password" name="password" required><br><br>

    <button id="loginBtn" type="submit">Login</button>
    <br>
    <a href="{{ url_for('forgot_password') }}" class="forgot-password-link">Forgot Password?</a>
{% endblock %}
