{% extends 'base.html' %}

{% block content %}
<h2>Conversation with User ID: {{ user_id }}</h2>
<div class="messages">
    {% for message in messages %}
    <p><strong> {{message['sender_name']}}:</strong> {{message['content']}}</p>
    <p><em> {{message['timestamp']}}</em></p>
    {% endfor %}
</div>

<form method="POST" action="{{url_for('send_message', receiver_id=user_id)}}">
    <textarea name="message" placeholder="Type your message..." required></textarea>
    <button type="submit">Send</button>
</form>
{% endblock %}
