{% extends 'base.html' %}

{% block content %}
<h2>Create Your DriveShare Account</h2>
<form method="POST" action="{{ url_for('home') }}">
    <label for="email">Email:</label><br>
    <input type="email" id="email" name="email" required><br><br>

    <label for="password">Password:</label><br>
    <input type="password" id="password" name="password" required><br><br>

    <label for="security_q1">Security Question 1:</label><br>
    <input type="text" id="security_q1" name="security_q1" required><br><br>

    <label for="security_q2">Security Question 2:</label><br>
    <input type="text" id="security_q2" name="security_q2" required><br><br>

    <label for="security_q3">Security Question 3:</label><br>
    <input type="text" id="security_q3" name="security_q3" required><br><br>

    <button type="submit">Register</button>
</form>
{% endblock %}
